<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="coffeenet-head">
        <meta charset="UTF-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <link rel="stylesheet" href="/css/coffeenet-navbar.css"/>
    </th:block>

</html>